.App {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.statuses {
  width: 300px;
  background-color: aqua;
  padding: 10px;
}

.wrapper_to_task {
  max-width: 400px;
}

.wrapper_to_task > div {
  margin-top: 30px;
}
